/* font-family: 'Averia Libre', cursive;  ==
font-family: 'Averia Sans Libre', cursive; ==heading
font-family: 'Bungee Inline', cursive;
font-family: 'Chelsea Market', cursive;  headlines==
font-family: 'Josefin Sans', sans-serif;     short para
font-family: 'Lugrasimo', cursive;
font-family: 'McLaren', cursive;
font-family: 'Preahvihear', sans-serif;
font-family: 'Ramabhadra', sans-serif;      ==
font-family: 'Rubik Dirt', cursive;
font-family: 'Alumni Sans Collegiate One', sans-serif;


font-family: 'Fugaz One', cursive;
font-family: 'Itim', cursive;

font-family: 'Shrikhand', cursive;     h1
font-family: 'Titan One', cursive;



 -webkit-text-stroke-width: 1px;
    -moz-text-size-adjust: 20px;
 */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
}

.navbar {
    display: flex;
    width: 100%;
    border-bottom: 3px solid rgb(253, 197, 197);
    box-sizing: border-box;
}

.logo {
    padding: 20px;
    letter-spacing: 1px;
}

#logo_name {
    font-weight: 900;
    font-size: 30px;
    font-family: 'Averia Sans Libre', cursive;
    color: rgb(239, 58, 94);
    stroke: beige;
    stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
}

#tagline {
    font-family: 'Lugrasimo', cursive;
    font-size: 12px;
    padding-left: 27px;
    font-weight: 600;
    color: rgb(197, 6, 31);
}

.nav {
    display: flex;
    padding-left: 300px;
}

.nav>a {
    display: block;
    padding: 35px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(207, 3, 30);
    font-weight: 600;
    font-family: 'Averia Libre', cursive;
}

.side_img {
    display: flex;
    gap: 118px;
    position: absolute;
}

.page1_container {
    display: flex;
    padding: 100px 250px;
}

.class1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10;
    align-content: center;
}

.page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.page1>h1 {
    color: rgb(227, 45, 66);
    font-family: 'Shrikhand', cursive;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    font-weight: 900;
    font-size: 70px;
    -webkit-text-stroke-color: beige;
    letter-spacing: 5 px;
    text-shadow: 2px 2px 6px rgb(233, 63, 63);
}

.page1>p {
    color: rgb(203, 5, 5);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Lugrasimo', cursive;
    padding-top: 15 px;
    padding-bottom: 25px;
    letter-spacing: 2px;
}

.images {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#imgg {
    -o-object-fit: fill;
    object-fit: fill;
    box-shadow: 1px 1px 10px 1px rgb(77, 26, 94);
}

.img_container {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding-top: 330px;
    padding-left: 100px;
}

.img_container>p {
    height: 150px;
    width: 160px;
    background-color: rgb(255, 255, 249);
    padding: 7px;
}