    /* font-family: 'Averia Libre', cursive;  ==
font-family: 'Averia Sans Libre', cursive; ==heading
font-family: 'Bungee Inline', cursive;
font-family: 'Chelsea Market', cursive;  headlines==
font-family: 'Josefin Sans', sans-serif;     short para
font-family: 'Lugrasimo', cursive;
font-family: 'McLaren', cursive;
font-family: 'Preahvihear', sans-serif;
font-family: 'Ramabhadra', sans-serif;      ==
font-family: 'Rubik Dirt', cursive;
font-family: 'Alumni Sans Collegiate One', sans-serif;


font-family: 'Fugaz One', cursive;
font-family: 'Itim', cursive;

font-family: 'Shrikhand', cursive;     h1
font-family: 'Titan One', cursive;



 -webkit-text-stroke-width: 1px;
    -moz-text-size-adjust: 20px;
 */
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        width: 100%;
    }
    /* media query*/
    /* navbar*/
    
    .navbar {
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }
    
    .logo {
        padding: 1.25rem;
        letter-spacing: 0.1rem;
        display: flex;
        flex-direction: column;
    }
    
    #logo_name {
        padding-left: 1.17rem;
        font-weight: 900;
        font-size: 1.75rem;
        font-family: 'Averia Sans Libre', cursive;
        color: rgb(239, 58, 94);
        stroke: beige;
        stroke-width: 1px;
        -webkit-text-stroke-width: 1px;
    }
    
    #tagline {
        font-family: 'Lugrasimo', cursive;
        font-size: 0.6REM;
        padding-left: 2.7rem;
        font-weight: 600;
        color: rgb(197, 6, 31);
    }
    
    .nav {
        display: flex;
        padding-left: 18rem;
        border-bottom: 3px solid rgb(253, 197, 197);
        padding-right: 3.1rem;
    }
    
    .nav>a {
        display: inline-block;
        padding: 2.1rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: rgb(207, 3, 30);
        font-weight: 600;
        font-family: 'Averia Libre', cursive;
    }
    
    .nav a:hover {
        border-top: 8px solid rgb(249, 3, 134);
    }
    /* main*/
    
    .main {
        box-sizing: border-box;
        /* 
        background-image: url(images/img33.png), url(images/img35.png);
        background-repeat: no-repeat;
        background-position: left, right;
        background-size: contain;
       */
    }
    
    .page1_container {
        display: flex;
        padding: 6.25rem 15.62rem;
        box-sizing: border-box;
    }
    
    .class1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 10;
        align-content: center;
    }
    
    .page1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .page1>h1 {
        width: 40REM;
        text-align: center;
        color: rgb(227, 45, 66);
        font-family: 'Shrikhand', cursive;
        letter-spacing: 0.12rem;
        -webkit-text-stroke-width: 0.1rem;
        font-weight: 900;
        font-size: 4.37rem;
        -webkit-text-stroke-color: beige;
        letter-spacing: 0.31rem;
        text-shadow: 2px 2px 6px rgb(233, 63, 63);
        transition: transform 2s;
    }
    
    .page1>h1:hover {
        transform: translateX(4%);
    }
    
    .page1>p {
        text-align: center;
        width: max-content;
        color: rgb(203, 5, 5);
        font-weight: 700;
        font-size: 1.25rem;
        font-family: 'Lugrasimo', cursive;
        padding-top: 0.93rem;
        padding-bottom: 1.56rem;
        letter-spacing: 2px;
    }
    
    .images {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    #imgg>img {
        width: 63rem;
        height: 29rem;
        box-shadow: 1px 1px 0.62rem 1px rgb(77, 26, 94);
        object-fit: fill;
    }
    
    .img_container {
        display: flex;
        bottom: 0%;
        flex-direction: row;
        position: absolute;
        padding-top: 21.87rem;
        padding-left: 6.68rem;
    }
    
    .img_container>p {
        height: 9.07rem;
        width: 9.36rem;
        object-fit: contain;
        background-color: rgb(255, 255, 249);
        padding: 0.43rem;
    }
    
    .img_container img {
        height: 8.7rem;
        width: 9.36rem;
    }
    
    .img_container img:hover {
        transform: scale(1.1, 1.1);
        box-shadow: 0px 1px 5px 1px blueviolet;
    }
    
    #photo1 {
        position: relative;
        height: 9.37rem;
        width: 10rem;
        background-color: rgb(255, 255, 249);
        padding: 0.31rem;
    }
    
    #photo1>p {
        opacity: 0.5;
        width: 100%;
    }
    
    .view_more {
        position: absolute;
        top: 50%;
        left: 20%;
    }
    
    .view_more>a {
        text-decoration: none;
        font-size: 0.93rem;
        font-family: 'Titan One', cursive;
        font-weight: 300;
        color: rgb(90, 4, 61);
    }
    /* properties */
    
    .property_div {
        position: relative;
        box-sizing: border-box;
    }
    
    .page2 {
        display: flex;
        justify-content: space-between;
        padding: 2.5rem;
    }
    
    .title1>h3 {
        padding-left: 9.37rem;
        padding-bottom: 0.31rem;
        color: rgb(3, 105, 189);
        font-family: 'Shrikhand', cursive;
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    .title1>h1 {
        font-weight: 200;
        padding-bottom: 0.93rem;
        color: rgb(216, 86, 86);
        font-family: 'Shrikhand', cursive;
        font-size: 2.81rem;
    }
    
    .desc>p {
        padding-bottom: 0.93rem;
        text-decoration: none;
        color: rgb(16, 71, 152);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
    }
    
    .property_img {
        display: flex;
        width: fit-content;
        gap: 12.5rem;
        margin: 0px 9.37rem;
        position: relative;
    }
    
    .check_now {
        gap: 4.8rem;
        position: absolute;
        display: flex;
        width: fit-content;
        z-index: 1;
        top: 33%;
    }
    
    .check_now>img {
        width: fit-content;
        position: absolute;
    }
    
    .check_name {
        gap: 39.5rem;
        margin-left: 11.37rem;
        position: absolute;
        display: flex;
        width: fit-content;
        z-index: 1;
        top: 100%;
    }
    
    .check_name>a {
        font-size: 1.25rem;
        text-decoration: none;
        font-weight: 600;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(103, 97, 97);
        width: fit-content;
    }
    
    .property_data>img {
        height: 18.75rem;
        border-radius: 1.25rem;
        width: 31.25rem;
        box-shadow: 0px 0px 10px 0px rgb(183, 174, 174);
        transition: transform 1.5s;
    }
    
    .property_data img:hover {
        transform: scale(1.1, 1.1);
    }
    
    .property_data>p {
        text-align: center;
        font-size: 1.56rem;
        font-family: 'Shrikhand', cursive;
        letter-spacing: 0.12rem;
        font-weight: 300;
        color: rgb(82, 80, 80);
        box-shadow: 0px 0px 10px 0px rgb(215, 213, 213);
        padding: 1.56rem 1.87rem;
        border-bottom-left-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
        background-color: rgb(239, 239, 239);
    }
    /*services*/
    
    .service_div {
        position: relative;
        box-sizing: border-box;
    }
    
    .service_div>h2 {
        width: max-content;
        margin-top: 5.62rem;
        text-align: center;
        color: rgb(255, 88, 108);
        font-family: 'Shrikhand', cursive;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 2.5rem;
        text-align: center;
        padding: 3.12rem;
        letter-spacing: 0.3rem;
        text-shadow: 2px 2px 6px rgb(118, 64, 64);
    }
    
    .simg_container {
        width: fit-content;
        position: relative;
    }
    
    .s1>img {
        width: 25rem;
        height: 13rem;
        margin-left: 6.25rem;
        border-radius: 1.25rem;
        box-shadow: 1px 1px 7px 1px rgb(75, 73, 74);
        transition: width 2s, height 2s, transform 0s;
    }
    
    .s1>img:hover {
        width: 25.62rem;
        perspective: scale(1.12rem, 1.12rem);
    }
    
    .s2>img {
        margin-left: 63.12rem;
        width: 25rem;
        height: 13rem;
        border-radius: 1.25rem;
        box-shadow: 1px 1px 7px 1px rgb(75, 73, 74);
    }
    
    .img_service {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .img_name {
        position: absolute;
        display: flex;
        width: 31.25rem;
        bottom: 0%;
        left: 30%;
        gap: 0.75rem;
        flex-direction: column;
    }
    
    .s3>h4 {
        width: 12.5rem;
        height: 12.18rem;
        padding-bottom: 5.62rem;
        padding-top: 5.62rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 900;
        padding-left: 1.25rem;
        -webkit-text-stroke-width: 1px;
        color: rgb(159, 7, 7);
        margin-left: 5rem;
        border-top-right-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
        font-size: 1.25rem;
    }
    
    .s4>h4 {
        width: 12.5rem;
        height: 12.18rem;
        padding-bottom: 5.62rem;
        padding-top: 5.62rem;
        margin-left: 24.18rem;
        padding-left: 1.25rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 900;
        -webkit-text-stroke-width: 1px;
        color: rgb(159, 7, 7);
        font-size: 1.25rem;
        border-top-left-radius: 1.25rem;
        border-bottom-left-radius: 1.25rem;
    }
    /* footer */
    
    .footer_div {
        box-sizing: border-box;
    }
    
    .footer7 {
        display: flex;
        gap: 6.25rem;
        background-color: bisque;
        padding: 1.87rem;
        border-bottom: 2px solid red;
    }
    
    .footer1 {
        position: relative;
        margin-top: 1.87rem;
    }
    
    .footer3 {
        position: absolute;
        top: 20%;
        display: flex;
        flex-direction: column;
        color: white;
    }
    
    .footer1>img {
        opacity: 0.9;
        height: 31.25rem;
        object-fit: cover;
        box-shadow: inset 1.87rem 1.87rem 1.87rem 1.87rem rgb(254, 139, 139);
    }
    
    .footer3>h2 {
        font-family: 'Averia Libre', cursive;
        font-size: 3.75rem;
        font-weight: 600;
        text-align: center;
        text-shadow: 3px 2px 5px rgb(205, 89, 130);
    }
    
    .footer3>p {
        padding-top: 1.25rem;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.87rem;
        font-weight: 600;
        text-align: center;
        text-shadow: 3px 2px 5px rgb(205, 89, 130);
    }
    
    .copyrights {
        background-color: black;
        color: white;
        padding: 1.25rem;
        text-align: center;
    }
    
    .follow_links {
        display: flex;
        flex-direction: column;
        width: 11.25rem;
        margin-right: 1.87rem;
        margin-left: 1.87rem;
        padding-left: 1.87rem;
    }
    
    .h2>h2 {
        padding-bottom: 0.93rem;
        text-decoration: none;
        color: rgb(189, 3, 3);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.25rem;
        font-weight: 900;
        stroke-width: 1px;
        -webkit-text-stroke-width: 1px;
    }
    
    .follow_content {
        display: flex;
        flex-direction: row;
        gap: 0.62rem;
        width: 9.37rem;
    }
    
    .follow_img {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .follow_a>a {
        padding-top: 0.62rem;
        text-decoration: none;
        color: rgb(189, 3, 3);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 0.75rem;
        font-weight: 800;
        line-height: 250%;
    }
    
    .footer4 {
        display: flex;
        flex-direction: column;
        padding: 0.62rem;
    }
    
    .footer4>h2 {
        font-family: 'Averia Sans Libre', cursive;
        color: rgb(248, 45, 99);
        font-weight: 900;
        stroke-width: 1px;
        -webkit-text-stroke-width: 1px;
    }
    
    .footer4>p {
        padding-top: 1.25rem;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.12rem;
        color: rgb(189, 3, 3);
        font-weight: 700;
    }
    
    .quick_links {
        display: flex;
        flex-direction: column;
        margin-left: 3.12rem;
    }
    
    .quick_links>h2 {
        padding-bottom: 0.93rem;
        text-decoration: none;
        color: rgb(189, 3, 3);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.25rem;
        font-weight: 900;
        stroke-width: 1px;
        -webkit-text-stroke-width: 1px;
    }
    
    .quick_links>a {
        padding-top: 0.62rem;
        text-decoration: none;
        color: rgb(189, 3, 3);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 0.75rem;
        font-weight: 800;
    }
    
    .contact_us {
        display: flex;
        flex-direction: column;
        margin-right: 3.12rem;
    }
    
    .contact_us>h2 {
        padding-bottom: 0.93rem;
        text-decoration: none;
        color: rgb(189, 3, 3);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.25rem;
        font-weight: 900;
        stroke-width: 1px;
        -webkit-text-stroke-width: 1px;
    }
    
    .contact_us>p {
        padding-top: 0.62rem;
        text-decoration: none;
        color: rgb(189, 3, 3);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 0.75rem;
        font-weight: 800;
    }
    /* font-family: 'Averia Libre', cursive;  ==
font-family: 'Averia Sans Libre', cursive; ==heading
font-family: 'Bungee Inline', cursive;
font-family: 'Chelsea Market', cursive;  headlines==
font-family: 'Josefin Sans', sans-serif;     short para
font-family: 'Lugrasimo', cursive;
font-family: 'McLaren', cursive;
font-family: 'Preahvihear', sans-serif;
font-family: 'Ramabhadra', sans-serif;      ==
font-family: 'Rubik Dirt', cursive;
font-family: 'Alumni Sans Collegiate One', sans-serif;


font-family: 'Fugaz One', cursive;
font-family: 'Itim', cursive;

font-family: 'Shrikhand', cursive;     h1
font-family: 'Titan One', cursive;



 -webkit-text-stroke-width: 1px;
    -moz-text-size-adjust: 1.25rem;
 */
    
    @media screen and (max-width:500px) {
        .container {
            width: calc(100%);
        }
        .class1 {
            display: flex;
            flex-direction: column;
            top: 10;
        }
        .page1_container {
            width: 100%;
            flex-wrap: wrap;
        }
        .page1 {
            display: flex;
            flex-direction: column;
            margin-left: 44rem;
        }
        .images {
            display: flex;
        }
        .page2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: fit-content;
        }
        .desc>p {
            width: 50rem;
        }
        .property_img {
            display: flex;
            margin-left: 13rem;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
        }
        .property_img img {
            width: 50rem;
            height: 25rem;
        }
        .simg_container {
            display: flex;
            flex-direction: column;
        }
        .s1>img,
        .s2>img {
            margin-top: 8rem;
            display: flex;
            width: 47rem;
            height: 23rem;
            margin-left: 15rem;
            flex-direction: column;
            justify-content: center;
        }
        .img_name {
            position: absolute;
            top: 22%;
            flex-direction: column;
            gap: 19rem;
            display: flex;
        }
        .s4>h4,
        .s3>h4 {
            color: rgb(16, 9, 0);
            z-index: 4;
            font-weight: 800;
            width: 17.5rem;
            height: 12.18rem;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 900;
            -webkit-text-stroke-width: 1px;
            color: rgb(159, 7, 7);
            margin-left: 5rem;
            border-top-right-radius: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            font-size: 2rem;
            margin-left: 10rem;
        }
        .footer1>img {
            width: 100%;
        }
        .footer7 {
            display: flex;
            flex-direction: column;
            width: calc(100%);
            justify-content: center;
            align-content: center;
            text-align: center;
        }
    }